<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FURNITURE STORE</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="mainContent">
        <h1>FURNITURE</h1>
        <h3>Landing Page</h3>
        <p>The e-Commerce Website design template is easy to <br>customize, 
            making it even easier for you to design your <br>next website or project, 
            and speed up your design <br> workflow.</p>
    </div>
    
    <div class="mainContentImages">
        <img src="../assets/funiro 1.jpg" alt="this image is a template" class="imagem1">
        <img src="../assets/funiro 3.jpg" alt="this image is a template 3" class="imagem2">
    </div>
</body>
</html>